<h1> Add a New Task! </h1>
<% task = @user.tasks.build %>
<%= flash.now[:error] %>
<%= form_with(model: [ @user, task ], local: true) do |form| %>
  <p>
    <%= form.label :content %><br>
    <%= form.text_field :content, placeholder: 'Create a new task here ...'%>
  </p>
 
  <p>
    <%= form.label :due_date %><br>
    <%= form.date_field :due_date, min: Date.today %>
  </p>

  <p>
    <%= form.label :tag %><br>
    <%= form.select(:tag, [nil, 'Work', 'Study', 'Family', 'Shopping', 'Entertainment', 'Miscellaneous']) %>
  </p>

  <p>
    <%= form.label :priority_level %><br>
    <%= form.select(:priority_level, ['★', '★★', '★★★']) %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>