<% if @tasks.where("due_date < ?", Date.today).any? %>
	<h2>OVERDUE</h2>
	<table class="table table-danger">
		<tr>
			<th>Task</th>
			<th>Due</th>
			<th>Tag</th>
			<th>Priority</th>
			<th>Overdue</th>
			<th colspan="3"></th>
		</tr>

		<% @tasks.order("due_date ASC").where("due_date < ?", Date.today).each do |task| %>
			<% if task.is_completed == false %>
			<tr>
				<td><%= task.content %></td>
				<td><%= task.due_date %></td>
				<td><%= task.tag %></td>
				<td><%= task.priority_level %></td>
				<!-- shows number of overdue days -->
				<td><%= pluralize(((task.due_date - Date.today) * -1).to_i, "day") %></td>
				<!-- link to edit -->
				<td><%= link_to '', edit_user_task_path(task.user, task), :class => "far fa-edit"%></td>
				<!-- link to delete -->
				<td><%= link_to '', [task.user, task],
	               method: :delete,
	               data: { confirm: 'Are you sure you want to delete this task?' }, :class => "far fa-trash-alt" %></td>
				<!-- link to mark as complete -->
				<td><%= link_to '', complete_task_path(task.user, task), method: :put, :class => "far fa-check-circle"%></td>
			</tr>
			<% end %>
		<% end %>
	</table>
<% end %>

<!-- shows tasks that are not overdue yet -->
<% if @tasks.where(is_completed: false).where("due_date >= '#{Date.today}' OR due_date IS NULL").any? %>
	<h2>NEED TO DO</h2>
	<table class="table table-info">
		<tr>
			<th>Task</th>
			<th>Due</th>
			<th>Tag</th>
			<th>Priority</th>
			<th>Countdown</th>
			<th colspan="3"></th>
		</tr>

		<% @tasks.order("due_date IS NULL, due_date ASC").where("due_date >= '#{Date.today}' OR due_date IS NULL").each do |task| %>
			<% if task.is_completed == false %>
			<tr>
				<td><%= task.content %></td>
				<% if task.due_date.nil? %>
					<td>No Date</td>
				<% else %>
					<td><%= task.due_date %></td>
				<% end %>
				<td><%= task.tag %></td>
				<td><%= task.priority_level %></td>
				<% if not task.due_date.nil? %>
				<% countdown = (task.due_date - Date.today).to_i %>
				<td><% if countdown == 0%>
					<%= "TODAY"%>
					<% elsif countdown == 1
						%>
					<%= "TOMORROW" %>
					<% else %>
					<%= countdown.to_s + " days" %>
					<% end %>
				</td>
				<% else %>
				<td>-</td>
				<% end %>
				<!-- link to edit -->
				<td><%= link_to '', edit_user_task_path(task.user, task), :class => "far fa-edit"%>
				</td>
				<!-- link to delete -->
				<td><%= link_to '', [task.user, task],
	               method: :delete,
	               data: { confirm: 'Are you sure you want to delete this task?' }, :class => "far fa-trash-alt" %></td>
	            <!-- link to mark as complete -->
	            <td><%= link_to '', complete_task_path(task.user, task), method: :put, :class => "far fa-check-circle" %></td>
			</tr>
			<% end %>
		<% end %>
	</table>
<% end %>