		<!-- CURRENTLY NOT USED -->
		<% if task.is_completed == false %>
		<tr>
			<td><%= task.content %></td>
			<td><%= task.due_date %></td>
			<td><%= task.tag %></td>
			<td><%= task.priority_level %></td>
			<td><%= link_to 'Edit', edit_user_task_path(task.user, task)%></td>
			<td><%= link_to 'Delete', [task.user, task],
               method: :delete,
               data: { confirm: 'Are you sure you want to delete this task?' } %></td>
            <td><%= link_to "Done", complete_task_path(task.user, task), method: :put %></td>
		</tr>
		<% end %>