<div class="container-fluid" style="margin-top: 30px;">
	<h1 align="center"> My To-do Tasks </h1>
</div>
<div class="row">
	<div class="col-md-3">
		<button type="button" class="btn btn-secondary">
			<%= link_to "view completed tasks", view_completed_path(@user), method: :get, style:"color:white" %>
		</button>
	</div>

	<!-- search by tag function -->
	<div class="col-md-9" style="text-align: right;">
		<%= form_tag(search_task_path, method: "get") do %>
			<h3 style="display: inline;">search by tag </h3>
			<%= select_tag(:tag, options_for_select([nil, 'Work', 'Study', 'Family', 'Shopping', 'Entertainment', 'Miscellaneous'])) %>
			<%= submit_tag("Search") %>
		<% end %>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-md-8">
		<% if @user.tasks.where(is_completed: false).where("due_date < ?", Date.today).any? %>
			<%= render "overdue" %>
		<% end %>
		<% if @user.tasks.where(is_completed: false).where("due_date >= '#{Date.today}' OR due_date IS NULL").any? %>
			<%= render "to_do_tasks" %>
		<% end %>
		<% unless @user.tasks.where(is_completed: false).any? %>
			<h2>You have no to-do task. Create a new task now!</h2>
		<% end %>
	</div>
	<div class="col-md-4">
		<div class="container bg-warning" style="padding: 10px; top: 45px; position: relative;">
			<%= render "create_new_task" %>
		</div>
	</div>
</div>