<div class="container-fluid">
<h1 align="center"> My Uncompleted Tasks </h1>
</div>
<hr>
<div class="container">
<%= link_to "View Completed Tasks", view_completed_path(@user), method: :get %>
</div>
<hr>

<!-- SEARCH FUNCTION (undone) -->

<%= form_tag(search_task_path, method: "get") do %>
  <%= label_tag(:content, "Search for uncompleted tasks:") %>
  <%= text_field_tag(:content, nil, placeholder: "Enter keywords ...") %>
  <strong>tag:</strong>
  <%= select_tag(:tag, options_for_select([nil, 'Work', 'Study', 'Family', 'Shopping', 'Entertainment', 'Miscellaneous'])) %>
  <strong>priority level:</strong>
  <%= select_tag(:priority_level, options_for_select([nil, '★', '★★', '★★★'])) %>
  <%= submit_tag("Search") %>
<% end %>

<hr>
<!-- OPTION ONE -->
<div class="row">
	<div class="col-md-8">

	<em>OVERDUE</em>
	<table class="table table-danger">
		<tr>
			<th>Task</th>
			<th>Due</th>
			<th>Tag</th>
			<th>Priority</th>
			<th>Overdue by</th>
			<th colspan="3"></th>
		</tr>

		<% @user.tasks.order("due_date ASC").where("due_date < ?", Date.today).each do |task| %>
			<% if task.is_completed == false %>
			<tr>
				<td><%= task.content %></td>
				<td><%= task.due_date %></td>
				<td><%= task.tag %></td>
				<td><%= task.priority_level %></td>
				<td><%= pluralize(((task.due_date - Date.today) * -1).to_i, "day") %></td>
				<td><%= link_to 'Edit', edit_user_task_path(task.user, task)%></td>
				<td><%= link_to 'Delete', [task.user, task],
	               method: :delete,
	               data: { confirm: 'Are you sure you want to delete this task?' } %></td>
	            <td><%= link_to "Done", complete_task_path(task.user, task), method: :put %></td>
			</tr>
			<% end %>
		<% end %>
	</table>

	<em>NEED TO DO:</em>
	<table class="table table-success">
		<tr>
			<th>Task</th>
			<th>Due</th>
			<th>Tag</th>
			<th>Priority</th>
			<th>Countdown</th>
			<th colspan="3"></th>
		</tr>

		<% @user.tasks.order("due_date ASC").where("due_date >= ?", Date.today).each do |task| %>
			<% if task.is_completed == false %>
			<tr>
				<td><%= task.content %></td>
				<td><%= task.due_date %></td>
				<td><%= task.tag %></td>
				<td><%= task.priority_level %></td>
				<% countdown = (task.due_date - Date.today).to_i %>
				<td><% if countdown == 0%>
					<%= "TODAY"%>
					<% elsif countdown == 1
						%>
					<%= "TOMORROW" %>
					<% else %>
					<%= countdown.to_s + " days" %>
					<% end %>
				</td>
				<td><%= link_to 'Edit', edit_user_task_path(task.user, task)%></td>
				<td><%= link_to 'Delete', [task.user, task],
	               method: :delete,
	               data: { confirm: 'Are you sure you want to delete this task?' } %></td>
	            <td><%= link_to "Done", complete_task_path(task.user, task), method: :put %></td>
			</tr>
			<% end %>
		<% end %>
	</table>
	</div>
	<div class="col-md-4">
<div class="container bg-warning">
<h1> Add a New Task! </h1>
<% task = @user.tasks.build %>
<!-- flash or flash.now ??? -->
<%= flash.now[:error] %>
<%= form_with(model: [ @user, task ], local: true) do |form| %>
  <%= task.errors.size %>
  <% if task.errors.any? %>
   <h1> aaaaaaaa </h1>
    <div id="error_explanation">
      <h2>
        <%= pluralize(task.errors.count, "error") %> prohibited
        this task from being saved:
      </h2>
      <ul>
        <% task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :content %><br>
    <%= form.text_field :content, placeholder: 'Create a new task here ...'%>
  </p>
 
  <p>
    <%= form.label :due_date %><br>
    <%= form.date_field :due_date, min: Date.today %>
  </p>

  <p>
    <%= form.label :tag %><br>
    <%= form.select(:tag, [nil, 'Work', 'Study', 'Family', 'Shopping', 'Entertainment', 'Miscellaneous']) %>
  </p>

  <p>
    <%= form.label :priority_level %><br>
    <%= form.select(:priority_level, ['★', '★★', '★★★']) %>
  </p>

  <p>
    <%= form.submit %>
  </p>
</div>

	<em>NO DATE</em>
	<table class="table table-info">
		<tr>
			<th>Task</th>
			<th>Tag</th>
			<th>Priority Level</th>
			<th colspan="3"></th>
		</tr>

		<% @user.tasks.where(due_date: nil).each do |task| %>
			<% if task.is_completed == false %>
			<tr>
				<td><%= task.content %></td>
				<td><%= task.tag %></td>
				<td><%= task.priority_level %></td>
				<td><%= link_to 'Edit', edit_user_task_path(task.user, task)%></td>
				<td><%= link_to 'Delete', [task.user, task],
	               method: :delete,
	               data: { confirm: 'Are you sure you want to delete this task?' } %></td>
	            <td><%= link_to "Done", complete_task_path(task.user, task), method: :put %></td>
			</tr>
			<% end %>
		<% end %>
	</table>
<% end %>
</div>
</div>
